<script lang="ts">
/* eslint-disable babel/camelcase */
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { FreeTrialCTA } from '../components/common/index';
import {
  HeaderTab,
  HeaderTabContent,
  CustomersCarousel as Carousel,
  BlogCard,
  FilterWrapper,
  CalloutBox,
} from '../components/customers/index';
import { getPageMetadata } from '~/common/meta';
import { ByIndustryQuotesCarousel } from '~/components/solutions/by-industry/quotes-carousel/index.vue';

interface CaseStudy {
  date_added: string;
  title: string;
  url: string;
}

interface CarouselData {
  title: string;
  studies: CaseStudy[];
}

export default Vue.extend({
  components: {
    HeaderTab,
    HeaderTabContent,
    FreeTrialCTA,
    Carousel,
    BlogCard,
    FilterWrapper,
    CalloutBox,
    ByIndustryQuotesCarousel,
  },
  async asyncData({ $content }) {
    const data = await $content('customers').fetch();
    return { data };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  computed: {
    carouselData(): CarouselData {
      const { data } = this as any;
      const { case_studies, featured_studies_title } = data;

      const sortedCaseStudies = case_studies.sort(
        (a: CaseStudy, b: CaseStudy) => {
          const dateA = new Date(a.date_added);
          const dateB = new Date(b.date_added);
          return dateB.getTime() - dateA.getTime();
        },
      );

      const featuredStudies = sortedCaseStudies.slice(0, 9);

      return {
        title: featured_studies_title,
        studies: featuredStudies,
      };
    },
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <HeaderTab :customers="data.customers">
        <HeaderTabContent
          v-for="customer in data.customers"
          :key="customer.name"
          :customer="customer"
        />
      </HeaderTab>
    </SlpContainer>
    <section class="featured-studies">
      <SlpContainer>
        <Carousel :data="carouselData" />
      </SlpContainer>
    </section>
    <SlpContainer>
      <section class="browse-studies">
        <SlpTypography tag="h2" variant="heading2"
          >Browse all customer case studies
        </SlpTypography>
        <FilterWrapper :data="data.case_studies" />
      </section>
      <ByIndustryQuotesCarousel :data="data.quotes_block" />
      <SlpHorizontalRule />
      <section class="blog-cards">
        <SlpTypography tag="h2" variant="heading2"
          >Browse customer case studies on the GitLab Blog
        </SlpTypography>
        <div class="card-wrapper">
          <BlogCard
            v-for="blog in data.blog_cards"
            :key="blog.title"
            :data="blog"
          />
        </div>
      </section>
      <section>
        <CalloutBox :data="data.callout_box" />
      </section>
      <FreeTrialCTA variant="image" />
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.featured-studies {
  margin-top: $spacing-48;
  padding-top: $spacing-96;
  background-image: linear-gradient(
    180deg,
    $color-surface-100 0 85%,
    $color-surface-50 85% 100%
  );
}

.browse-studies {
  margin: $spacing-64 0;
}

h2 {
  text-align: center;
}

.blog-cards {
  margin-top: $spacing-160;
}

.card-wrapper {
  margin-top: $spacing-48;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 820px) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
</style>
